* {
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

/*================
        HOME
====================*/
.container-flex {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container-flex .nav_bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  z-index: 3;
}

.container-flex .nav_bar .logo,
.container-flex .nav_bar #hamburger {
  margin: 3%;
}

.container-flex .nav_bar #hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-flex .nav_bar #hamburger .fa-bars {
  color: #fff;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  padding-left: 50px;
  margin-right: 20px;
  font-size: 30px !important;
  cursor: pointer;
}

.home-text {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.home-text h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  text-transform: none;
  font-weight: 700;
}

span {
  color: #ff0000;
  text-transform: uppercase;
}

/*=====================
          PORTFOLIO
==========================*/
h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

ul h5 {
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

hr {
  width: 100px;
  background-color: #fff;
  margin: auto;
}

a {
  color: #c00410;
  text-decoration: underline;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-family: Lato-Bold, sans-serif;
  text-align: center;
}

a:hover {
  text-decoration: underline;
  color: #c00410;
  cursor: pointer;
}

/*======================
      Our services
========================*/
.services {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1rem;
  text-transform: none;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.custom-col {
  text-align: right;
  border-right: 1px solid #fff;
}

.custom-col .red-icons {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

.custom-col h5 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.custom-col p {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

/*============
'new' section
================*/
.container-div {
  padding-left: 30px;
  padding-right: 0;
}

.container-div .images-no-space {
  margin-top: 50px;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.container-div .images-no-space .img-left {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  padding: 0 !important;
}

.container-div .images-no-space .img-left .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.container-div .images-no-space .img-left .overlay .text1 {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 3%;
}

.container-div .images-no-space .img-left .overlay .text1 p {
  font-family: 'Lato', sans-serif;
  text-transform: none;
}

.container-div .images-no-space .img-left .overlay .text1 .button1 {
  width: 125px;
  color: white;
  background: transparent;
  border: 1px solid #fff;
  padding: 2px;
  cursor: pointer;
}

.container-div .images-no-space .img-right {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  padding: 0 !important;
}

.container-div .images-no-space .img-right .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.container-div .images-no-space .img-right .overlay .text2 {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 3%;
}

.container-div .images-no-space .img-right .overlay .text2 p {
  font-family: 'Lato', sans-serif;
  text-transform: none;
}

.container-div .images-no-space .img-right .overlay .text2 .title2 {
  text-align: left;
}

.container-div .images-no-space .img-right .overlay .text2 .button2 {
  width: 120px;
  color: white;
  background: transparent;
  border: 1px solid #fff;
  padding: 2px;
  cursor: pointer;
}

/*=============
    Footer
================*/
.container-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  /* margin-top: 80px; */
  margin-bottom: 20px;
  padding: 5px;
}

.container-footer p {
  text-transform: uppercase;
}

.container-footer .footer-logo-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-footer .footer-logo-col .logo-bottom {
  width: 160px;
  height: 140px;
}

.container-footer .footer-logo-col p {
  width: auto;
}

.container-footer .f-center .footer-email {
  word-break: break-word;
}

.container-footer .f-center .social-icons {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  cursor: pointer;
}

.end {
  font-family: 'Lato', sans-serif;
  text-transform: none;
}

.end ul {
  width: 70%;
  margin: auto;
  text-align: center;
}

.end ul li {
  list-style-type: none;
  display: inline;
  padding: 8px;
}

.end ul li .end-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}

.end ul li .end-link:hover {
  color: #fff;
  text-decoration: none;
}

#myBtn {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 1;
  font-size: 30px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: none;
  width: 40px;
  height: auto;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */